.login{
    margin-top: 250px;
}

.userInfo{
    height: 35px;
    border-radius: 50%;
    margin: 0  0  0 6px;
    padding: 0 4px;
    position: fixed;
    top: 10px;
    right: 40px;
}

.logout-dropdown{
    position: fixed;
    top: 10px;
    right: 20px;
}
.homeModal{
    margin-top: 50px;
    height: 60px;
    width: 150px;
}
.navbarLogo{
    width: 100%;
}

.homePageLogo{
    width:90%;
}