@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import 'variables';
@import '_app.scss';
@import '_home.scss';
@import '_climbCard.scss';
@import '_logbook.scss';

body {
  font-family: 'Castoro', serif;
  background-color: #ffffff;
  background-image:  linear-gradient(to top, rgba(22, 22, 22, 0.5), rgba(82, 77, 77, 0.5)), url('../helpers/images/awesomeBackground.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:50% 40%;
  background-size: cover;
}
